main.main
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        a(href='#')
          img(src='https://via.placeholder.com/300x100', alt='img')
      .swiper-slide
        a(href='#')
          img(src='https://via.placeholder.com/300x100', alt='img')
      .swiper-slide
        a(href='#')
          img(src='https://via.placeholder.com/300x100', alt='img')
    .swiper-button-next
    .swiper-button-prev
    .swiper-pagination
