.footer {
  padding: 30px 0;
  background: var(--white);
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.6);
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
