extends templates/default
block variables
  - const title = "Main Page"
block content
  .wrap
    include layout/header/header
    include layout/footer/footer
block scripts
  script(src='js/script.js')
