include ../../components/logo/logo
include ../../components/burger/burger

header.header
  .container
    .header__content
      +logo('#', 'logo', 'logo')
      nav.header__nav
        ul.header__menu
          li.header__item
            a.header__link(href='#', alt='link') Link
          li.header__item
            a.header__link(href='#', alt='link') Link
          li.header__item
            a.header__link(href='#', alt='link') Link
          li.header__item
            a.header__link(href='#', alt='link') Link
          li.header__item
            a.header__link(href='#', alt='link') Link
        +burger('burger')
